
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.heading {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-size: clamp(28px, 8vw, 50px); /* changed from 50px */
    text-shadow: 2px 2px 2px darkgrey;
    letter-spacing: 5px;
    margin-top: 10px;
}

.score-container {
    margin-bottom: 50px;
}

.emojis {
    display: flex;
    font-size: 5rem;
    gap: 5%; 
    margin-bottom: 50px;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%; /* changed from 120px */
    height: auto;
    width: 90%;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

button {
    background-color: darkseagreen;
    color: indigo;
    font-weight: bold;
    border-radius: 5%;
    border: solid 3px;
    padding: 10px 20px;
}

button:hover {
    color: lightyellow;
    box-shadow: 5px 5px grey;
    font-weight: bolder;
}


/*.rockEmoji:hover, .paperEmoji:hover, .scissorsEmoji:hover {
    border: solid 2px darkgray;
    border-radius: 10%;
}*/

p {
    font-weight: bolder;
}

#reset-btn {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.chosen {
  background-color: yellow;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 500px) {
    body {
        height: auto;
        padding: 20px 0;
    }

    .heading {
        font-size: .95rem; /*changed from 28px */
        letter-spacing: 2px;
        margin: 50px;
    }

    .score-container {
        margin-bottom: 30px;
        font-size: .4rem;
    }

    .emojis {
        font-size: 1.5rem;
        gap: 20px; 
        margin-bottom: 30px;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .options-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: auto;
        justify-content: center;
        align-self: center;
    }

    button {
        width: 50%;
        padding: 10px 0;
        font-size: .4rem;
    }
}

